.field {
    padding: 1em 0;
}

.field--checkbox {
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
}

.field__label {
    display: block;
    margin: 2px 0;
    cursor: pointer;
}

.field--checkbox .field__label {
    margin: 2px 4px;
}

.field__input {
    background: var(--vscode-input-background);
    border: 1px solid var(--vscode-dropdown-border);
    color: var(--vscode-input-foreground);
    padding: 4px;
    margin: 2px 0;
}

.field__input:focus {
    border-color: var(--vscode-focusBorder);
    outline: 0;
}