<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{basePath}}/style.css">
    <title>Choose files to create</title>
</head>

<body>
    <div class="container">
        <h1>Choose files to create</h1>
        <p id="forDirectory"></p>
        <ul class="tab" id="tabs">
        </ul>
        
        <template id="field-generated-template">
            <blockquote class="panel" >
                <p class="panel__text">
                    <div class="field">
                        <label class="field__label" for="{{name}}" style="display:flex;justify-content: space-between;">
                            <b>{{title}}</b> <span>Generated!</span>
                        </label>
                    </div>
                </p>
            </blockquote>
        </template>

        <template id="field-template">
            <blockquote class="panel" >
                <p class="panel__text">
                    <div class="field">
                        <label class="field__label" for="{{name}}" style="display:flex;justify-content: space-between;">
                            <b style="font-size:1.5rem">{{title}}</b> <button class="panel__button button button--primary" data-event="generate-single" data-id="{{id}}">Generate single file</button>
                        </label>
                        <pre class="field__code">{{code}}</pre>
                    </div>
                </p>
            </blockquote>
        </template>

        <template id="title-template">
            <h2 style="display:flex;justify-content: space-between;">
                <span>{{title}} <span style="font-weight: 400;">( {{count}} )</span></span>
                <button class="button button--primary" data-event="generate-all">Generate all</button>
            </h2>
        </template>

        <div id="fields" data-type="none"></div>

        <footer class="footer">
            If you like this extension, show it to your friends!
            <a href="https://github.com/Bajdzis/vscode-awesome-tree">Give a star on github</a>, 
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketplace.visualstudio.com%2Fitems%3FitemName%3Dbajdzis.awesome-tree&t=Awesome%20extension!">share on facebook</a> or
            <a href="https://twitter.com/share?url=https%3A%2F%2Fmarketplace.visualstudio.com%2Fitems%3FitemName%3Dbajdzis.awesome-tree&text=Awesome%20extension!">share on twitter</a>
        </footer>
    </div>

    <script>
        const vscode = acquireVsCodeApi();
        const initialState = {
            createdFolderName: "",
            allSiblingHave: [],
            notAllSiblingHave: [],
            fromTemplate: [],
        };
        let state = vscode.getState() || initialState;

        const setState = (newState) => {
            state = {
                ...state,
                ...newState,
            };
            refreshView(state);
            vscode.setState(state);
        };

        const renderFile = ({name, title, value, code, generated}) => {
            const fieldTemplate = document.querySelector(generated ? '#field-generated-template': '#field-template');
            const html = fieldTemplate.innerHTML;
            const span = document.createElement('span');
            span.innerText = code;
            const escapedCode = span.innerHTML;

            const fragment = document.createElement('template');
            fragment.innerHTML = html
                .replace(/\{\{title\}\}/gi, title)
                .replace(/\{\{code\}\}/gi, escapedCode);

            return fragment.content;
        }

        const renderTitle = ({ title, count }) => {
            const fieldTemplate = document.querySelector('#title-template');
            const html = fieldTemplate.innerHTML;
            const fragment = document.createElement('template');
            fragment.innerHTML = html
                .replace(/\{\{title\}\}/gi, title)
                .replace(/\{\{count\}\}/gi, count);

            return fragment.content;
        }

        const generateFile = (key, index) => {
            const payload = state[key][index];
            if (!state[key][index].generated) {
                vscode.postMessage({
                    type: 'GENERATE_FILE',
                    payload: {...payload}
                });
            }
            state[key][index].generated = true;
            setState(state);
        }

        const generateGroup = (title, key, container) => {
            const items = state[key];
            const generatedAll = items.every((item) => item.generated);
            if (items.length === 0) {
                return;
            }
            const header = renderTitle({
                title,
                count: items.length
            });
            const headerButton = header.querySelector('button')
            
            if (generatedAll) {
                headerButton.style.display = "none";
            } else {
                headerButton.addEventListener("click", () => {
                    items.forEach((_, index) => {
                        generateFile(key, index);
                    });
                })
            }

            container.appendChild(header);
            items.forEach(({ filePath, filePathTemplate, content, fromTemplate, generated, relativePath }, index) => {
                const fieldElement = renderFile({
                    title: relativePath,
                    code: content,
                    id: index,
                    generated: !!generated
                });
                const button = fieldElement.querySelector('button');
                button && button.addEventListener("click", () => {
                    generateFile(key, index);
                })
                container.appendChild(fieldElement);
            });
        }

        const refreshView = state => {
            const fields = document.querySelector('#fields');
            while (fields.firstChild) {
                fields.firstChild.remove();
            }

            generateGroup("From saved templates", "fromTemplate", fields);
            generateGroup("Always created in sibling directory", "allSiblingHave", fields);
            generateGroup("Others", "notAllSiblingHave", fields);

            document.querySelector('#forDirectory').innerHTML = `For new "<b>${state.createdFolderName}</b>" directory`;
        }

        refreshView(state);

        window.addEventListener('message', ({data}) => { 
            if (data.type === 'SET_DATA') {
                const { allSiblingHave, notAllSiblingHave, fromTemplate, createdFolderName } = data.payload;
                setState({ allSiblingHave, notAllSiblingHave, fromTemplate, createdFolderName })
            }
        })
    </script>
</body>
</html>