<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{basePath}}/style.css">
    <script src="{{basePath}}/script.js"></script>
    {{templates}}
    <template id="field-template">
        <blockquote class="panel" >
            <p class="panel__text">
                <div class="field">
                    <label class="field__label" for="{{name}}" style="display:flex;justify-content: space-between;">
                        <b style="font-size:0.75rem">{{title}}</b> 
                    </label>
                    <pre class="field__code">{{code}}</pre>
                </div>
            </p>
        </blockquote>
    </template>
    
    <template id="title-template">
        <h2 style="display:flex;justify-content: space-between;">
            <span>{{title}} <span style="font-weight: 400;">( {{count}} )</span></span>
            <button class="button button--primary" data-event="generate-all">Rename all</button>
        </h2>
    </template>
    <title>Type new directory name</title>
</head>

<body>
    <div class="container">
        <h1>Type new directory name</h1>
        <p id="forDirectory"></p>
        
        <div class="field field--text">
            <label class="field__label" for="createdFolderName">
                <b>Name copy directory</b> base
            </label>
            <input class="field__input" id="createdFolderName" type="text" value=""/>
        </div>

        <div id="fields" data-type="none"></div>

        <footer class="footer">
            If you like this extension, show it to your friends!
            <a href="https://github.com/Bajdzis/vscode-awesome-tree">Give a star on github</a>, 
            <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fmarketplace.visualstudio.com%2Fitems%3FitemName%3Dbajdzis.awesome-tree&t=Awesome%20extension!">share on facebook</a> or
            <a href="https://twitter.com/share?url=https%3A%2F%2Fmarketplace.visualstudio.com%2Fitems%3FitemName%3Dbajdzis.awesome-tree&text=Awesome%20extension!">share on twitter</a>
        </footer>
    </div>

    <script>
        const vscode = acquireVsCodeApi();
        const initialState = {
            createdFolderName: "",
            allSiblingHave: [],
        };
        let state = vscode.getState() || initialState;

        const setState = (newState) => {
            state = {
                ...state,
                ...newState,
            };
            refreshView(state);
            vscode.setState(state);
        };
        const createdFolderNameInput = document.querySelector('#createdFolderName');

        createdFolderNameInput.addEventListener('input', e => {
            vscode.postMessage({
                type: 'CHANGE_NAME',
                payload: {
                    value: createdFolderNameInput.value
                }
            });
        });

        const renderFile = ({ name, title, value, code, generated }) => {
            const fieldTemplate = document.querySelector(generated ? '#field-generated-template' : '#field-template');
            const html = fieldTemplate.innerHTML;
            const span = document.createElement('span');
            span.innerText = code;
            const escapedCode = span.innerHTML;

            const fragment = document.createElement('template');
            fragment.innerHTML = html
                .replace(/\{\{title\}\}/gi, title)
                .replace(/\{\{code\}\}/gi, escapedCode);

            return fragment.content;
        };

        const renderTitle = ({ title, count }) => {
            const fieldTemplate = document.querySelector('#title-template');
            const html = fieldTemplate.innerHTML;
            const fragment = document.createElement('template');
            fragment.innerHTML = html
                .replace(/\{\{title\}\}/gi, title)
                .replace(/\{\{count\}\}/gi, count);

            return fragment.content;
        };


        const generateFile = (key, index) => {
            const payload = state[key][index];
            if (!state[key][index].generated) {
                vscode.postMessage({
                    type: 'GENERATE_ALL'
                });
            }
            state[key][index].generated = true;
            setState(state);
        }

        const generateGroup = (title, key, container) => {
            const items = state[key];
            if (items.length === 0) {
                return;
            }
            const header = renderTitle({
                title,
                count: items.length
            });
            const headerButton = header.querySelector('button')
      
            headerButton.addEventListener("click", () => {
                items.forEach((_, index) => {
                    generateFile(key, index);
                });
            })
        
            container.appendChild(header);
            items.forEach(({ filePath, filePathFrom, content }, index) => {
                const fieldElement = renderFile({
                    title: `${filePathFrom} => ${filePath}`,
                    code: content,
                    id: index,
                });
                container.appendChild(fieldElement);
            });
        }

        const refreshView = state => {
            const fields = document.querySelector('#fields');
            while (fields.firstChild) {
                fields.firstChild.remove();
            }
            const createdFolderNameInput = document.querySelector('#createdFolderName');
            if (createdFolderNameInput.value !== state.createdFolderName) {
                createdFolderNameInput.value = state.createdFolderName;
            }

            generateGroup("Files", "allSiblingHave", fields);

            document.querySelector('#forDirectory').innerHTML = `For new "<b>${state.createdFolderName}</b>" directory`;
        }

        refreshView(state);

        window.addEventListener('message', ({data}) => { 
            if (data.type === 'SET_DATA') {
                const { allSiblingHave, createdFolderName } = data.payload;
                setState({ allSiblingHave, createdFolderName })
            }
        })
    </script>
</body>
</html>