.percentLine {
    display: flex;
    padding: 2px;
}

.percentLine--success {
    background: rgba(0, 128, 0, 0.2);
}

.percentLine--warn {
    background: rgba(128, 128, 0, 0.2);
}

.percentLine--fatal {
    background: rgba(128, 0, 0, 0.2);
}

.percentLine__percent {
    width: 62px;
}

.percentLine__content {
    margin: 0;
}
